@import url(//fonts.googleapis.com/earlyaccess/hannari.css);

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("");
    background-color:#222222;
}

#ledfont{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width:100%;
    font-weight: bold;
    display: table;
    font-family: PMingLiU;
}

.led {
    background-image: url("img/circle45.png");
    background-repeat: repeat;
    background-size: 40%;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}